BasedOnStyle: Google
ColumnLimit: 120
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
BracedInitializerIndentWidth: 2
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: AlwaysBreak
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
